<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div>
   
          <h1 align="center" class="card-header" style="font-size: large; color:white ; background-color:#B66DFF;" >FeelGood</h1>
      </div>
      <br>
      <br>
      <div style="display: flex; justify-content: center;">
        <button type="button" class="btn btn-gradient-secondary btn-fw" (click)="addUser()">Add User</button>
    </div>
      <br>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <!--
                <th>
                  User
                </th>
                -->
                <th>Email</th>
                <th>Password</th>
                <th>Country</th>
                <th>UserName</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of listUsers">
                 
                <td> {{user.email}}    </td>
                <td> {{user.password}} </td>
                <td> {{user.country}}  </td>
                <td> {{user.userName}} </td>
                <td><button type="button" class="btn btn-gradient-primary btn-rounded btn-fw" (click)="delete(user.id)">Delete</button></td>
                <td><button type="button" class="btn btn-gradient-primary btn-rounded btn-fw" (click)="updateUser(user)">Update</button></td>
                <!--
                <td class="py-1">
                  <img src="assets/images/faces/face1.jpg" alt="image"/>
                </td>
                -->
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
